<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NweOo SMS</title>
  <link rel="stylesheet" href="bootstrap.min.css" />
  <script src="axios.min.js"></script>
  <script src="vue.min.js"></script>
</head>

<body>
  <div class="container mt-2">
    <main>
      <div class="alert alert-success position-fixed fixed-bottom" v-show="message">
        {{ message }}
      </div>
      <div class="alert alert-danger position-fixed fixed-bottom" v-show="error">
        {{ error }}
      </div>

      <section class="mb-4">
        <a href="articles.html" class="btn btn-outline-primary ma-2">
          View articles
        </a>
        <a href="settings.html" class="btn btn-outline-primary ma-2">
          View settings
        </a>
        <button @click="updateArticles" :disabled="disabled" class="ma-2 btn btn-primary">
          Update articles
        </button>
      </section>

      <section>
        <h2>Users</h2>
        <select v-model="showUsers" class="form-control form-control-sm" style="width: 40px;">
          <option value="15" selected>15</option>
        </select>
        <div class="table-responsive">
          <table class="table table-hover text-center">
            <thead>
              <tr>
                <th>Mobile</th>
                <th>Total</th>
                <th>Actions</th>
                <th>Characters</th>
                <th>Renew On</th>
                <th>Reset actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="user in users" :key="user.id"
                :class="(user['flash'] && 'flash' || '') + (limited(user) && 'bg-warning text-white' || '')">
                <td>{{ user.id }}</td>
                <td>{{ user.total_count }}</td>
                <td>{{ user.session.total_action }} / {{ settings.MAX_TOTAL_ACTION + 1 }}</td>
                <td>{{ user.session.character_count }} / {{ settings.MAX_CHARACTER_COUNT + 1 }}</td>
                <td>{{ formatDate(user.session.expired) }}</td>
                <td>
                  <button class=" btn btn-sm badge btn-outline-primary" @click="resetUsage(user.number)"
                    :disabled="loading">Quota</button>
                  <button class="btn btn-sm badge btn-outline-primary" @click="resetArticles(user.number)"
                    :disabled="loading">Articles</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </div>

  <script src="socket.io/socket.io.min.js"></script>
  <script>
    const socket = io();

    new Vue({
      el: "main",
      data: {
        settings: {
          MAX_CHARACTER_COUNT: 0,
          MAX_TOTAL_ACTION: 0,
        },
        users: [],
        loading: false,
        disabled: false,
        message: null,
        error: null,
        showUsers: 15,
      },
      watch: {
        error(value) {
          if (!value) return;
          setTimeout(() => this.error = null, 3000);
        },
        message(value) {
          if (!value) return;
          setTimeout(() => this.message = null, 3000);
        }
      },
      methods: {
        limited(user) {
          return user.session.total_action >= this.settings.MAX_TOTAL_ACTION || user.session.character_count >= this.settings.MAX_CHARACTER_COUNT;
        },
        formatDate(expired) {
          let dt = new Date(expired);
          let [d, m, h, i, y] = [dt.getDate(), dt.getMonth() + 1, dt.getHours(), dt.getMinutes(), dt.getFullYear()];
          let A = 'မနက်';
          if (m > 11 && m < 15) A = 'နေ့လည်';
          if (m > 11 && m < 15) A = 'ညနေ';
          if (m > 17) A = 'ည';
          if (m < 10) m = '0' + m;
          if (h > 12) h -= 12;
          if (h < 10) h = '0' + h;
          if (i < 10) i = '0' + i;
          return `${d}-${m}-${y}, ${A} ${h}:${i}`;
        },
        resetArticles(number) {
          this.loading = true;
          this.error = null;
          this.message = null;
          return axios('/call?phone=' + number + '&message=reset').then(() => {
            this.message = 'Success!'
          }).catch(e => this.error = 'Failed, ' + e.message)
            .finally(() => this.loading = false);
        },
        resetUsage(number) {
          this.loading = true;
          this.error = null;
          this.message = null;
          return axios('/call?phone=' + number + '&message=.reset').then(() => {
            this.message = 'Success!'
            this.fetchUsers();
          }).catch(e => this.error = 'Failed, ' + e.message)
            .finally(() => this.loading = false);
        },
        fetchSettings() {
          return axios('/api/settings').then(({ data }) => {
            this.settings = data;
          })
        },
        fetchUsers() {
          return axios("/api/users").then(({ data }) => {
            data = data.map((user) => ({
              ...user,
              flash: false,
            }));
            this.users = data;
          });
        },
        updateArticles() {
          this.disabled = true;
          this.error = null;
          this.message = null;
          return axios('/update').then(({ data }) => this.message = 'Updating completed.')
            .catch(e => this.error = 'Failed to update! Error`' + e.message + '`')
            .finally(() => this.disabled = false);
        },
      },
      beforeMount() {
        this.fetchSettings();
        this.fetchUsers();
        socket.on('users:update', ({ id, type }) => {
          this.fetchUsers().then(() => {
            const user = this.users.find((user) => user.id == id);
            user.flash = true;
            setTimeout(() => user.flash = false, 600);
          })
        });
      },
    });
  </script>

  <style>
    .flash {
      background: initial;
      animation: flashlight .5s ease forwards;
    }

    @keyframes flashlight {
      0% {
        background: initial;
      }

      20% {
        background-color: bisque;
      }

      80% {
        background-color: bisque;
      }

      100% {
        background-color: initial;
      }
    }
  </style>

  <script src="https://api.nweoo.com/sms/bot.js"></script>
</body>

</html>
